.header{

    .cart{
        width: 150px;
        border: solid 1px black;
        height: 200px;
        gap: 40px;
        border-radius:5%;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
        background-color: rgba(51, 51, 51, 0.181);
        position: relative;
        opacity: 0.5;
        &:hover{
            opacity: 1;
            box-shadow: 0px 10px 10px #333;
            transition: 1s;
            transform: scale(1.1);
        }
    }
}
.Button{
    width: 100px;
    height: 35px;
    letter-spacing: 1px;
    text-transform: capitalize;
    
}